
<meta charset="utf-8">




<meta charset="utf-8">
<p>1965</p>
<ul>
	<li> Сдан в эксплуатацию 1-й учебно-лабораторный корпус МРТИ общей площадью 12 500 кв.м.</li>
	<li> Начали работу вечерние и заочные подготовительные курсы для поступающих в высшие учебные заведения, обучалось 173 человека.</li>
	<li> Организованы подготовительные курсы на предприятиях: Минский электромеханический завод, заводы имени В.И. Ленина и имени Г.К. Орджоникидзе, на курсы принято 455 человек.</li>
	<li> В институте обучалось 2654 студента: РТФ – 689, ФАВТ – 573, ОТФ – 1392 (вечернее отделение – 1054, заочное отделение – 338).</li>
	<li> Продолжила работу аспирантура, обучалось 28 аспирантов (16 – с отрывом от производства, 12 – без отрыва от производства).</li>
	<li> Проведены кадровые назначения:</li>
		<ul>
<li>- проректором по учебной работе назначен к.и.н., доцент, заведующий кафедрой истории КПСС Т.Е. Солодков (25.08.1965 – 15.11.1971);</li>
<li>- исполняющим обязанности проректора по научной работе назначен к.т.н., доцент М.Г. Морозов (29.08.1965 – 16.07.1966);</li>
<li>- деканом ФАВТ назначен старший преподаватель кафедры следящих систем, приборов и устройств автоматики С.Е. Поздняков (10.09.1965 – 02.10.1968).</li>
	
</ul>

	<li> Председателем студенческого профкома избран Ф.М. Гузман.</li>
	<li> Создано студенческое научно-техническое общество (СНТО).</li>
	<li> Сформированы первые студенческие строительные отряды «Квант», «Немига».</li>
	<li> Организован спортивно-оздоровительный лагерь на базе добровольного спортивного общества «Урожай».</li>

</ul>

	





