
<meta charset="utf-8">
<p>1975</p>
<ul>
	<li>При участии МРТИ начали работу Народный университет технических знаний на производственном объединении имени В.И. Ленина и двухгодичные курсы повышения квалификации работников Брестского электромеханического завода</li>
	<li>Для проведения вступительных экзаменов начато регулярное применение ЭВМ.</li>
	<li> В учебный процесс введена замкнутая система черно-белого телевидения.</li>
	<li> Проведены кадровые назначения:</li>
             <ul>
		<li>деканом ФКиТРЭА назначен доцент кафедры ЭИПП, к.т.н. В.В. Муравьев (04.12.1975 –26.11.1979);</li>
		<li>начальником НИС назначен к.т.н. А.М. Бригидин (27. 01.1975 – 01.11.1980).</li>
		
	     </ul>
<li>МРТИ признан лучшим вузом во Всесоюзном смотре внедрения достижений науки и техники в народное хозяйство.</li>
<li>За эффективную учебно-воспитательную и научно-исследовательскую деятельность МРТИ награжден Грамотой Президиума Верховного Совета БССР.</li>
<li> В работе студенческого конструкторского бюро института и конструкторских групп на кафедрах и предприятиях принимали участие более 300 студентов. Руководство научно-исследовательской работой студентов осуществляли 795 научно-педагогических работников.</li>
<li> Научные достижения молодых ученых кафедры полупроводников и диэлектриков
(В.И. Курмашев, В. В. Бондаренко, А. Г. Смирнов, Л. М. Лыньков) отмечены Премией Ленин-
ского комсомола Белоруссии.</li>
<li>  Открыта столовая в учебном корпусе № 2.</li>
<li> Создан студенческий клуб, который объединил семь коллективов художественного творчества. Директором студенческого клуба назначена Е.Ф. Салата – энтузиаст народного творчества, возглавлявшая клуб более 33 лет.</li>
</ul>
	
	
