
<meta charset="utf-8">

<meta charset="utf-8">
<p>1966</p>
<ul>
	<li> Постановлением ЦК ВЛКСМ по итогам трудовых семестров комсомольская организация института занесена в «Летопись трудовых дел комсомола в семилетке» </li>
	<li> Проведены кадровые назначения:</li>
		<ul>
	<li>- деканом ОТФ назначен к.т.н., доцент, заведующий кафедрой технической механики</li>
<li>А.А. Шимкович (21.10.1966 – 08.01.1968).</li>
</ul>

<li> Заключены первые хозяйственные договоры с общим объемом финансирования 65,4 тыс. рублей.</li>
<li> Основан спортивный клуб МРТИ.</li>
	<li> Создана баскетбольная команда «РТИ-Минск» (главный тренер – И.А. Панин, тренер-В.М. Колос), в первенстве СССР выступала более 25 лет. Баскетболисты МРТИ – лучшая студенческая команда Советского Союза, чемпион СДСО «Буревестник», неоднократный победитель республиканских и всесоюзных спартакиад и универсиад, участник официальных и товарищеских встреч с командами Болгарии, Ливана, ГДР, Сирии, Венгрии, Польши, Ирана, Кубы, Перу, США. </li>
</ul>












