
<meta charset="utf-8">


<meta charset="utf-8">
<p>1967</p>
<ul>
	<li>Сдан в эксплуатацию 2-й учебно-лабораторный корпус МРТИ общей площадью 9 354 кв.м.</li>
	<li>Подана первая заявка на изобретение, по которой получено авторское свидетельство СССР № 228072 «Транзисторный мультивибратор» (авторы Л.Л. Клюев, С.Д. Шпота, Э.М. Карпушкин).</li>
	<li>Постановлением Совета Министров БССР институту предоставлено право на издание сборников научных работ по радиоэлектронике, автоматике и вычислительной технике.</li>
	<li>Открыта УКВ-радиостанция.</li>
	<li> Профессорско-преподавательский состав увеличился до 210 человек. Функционировала 21 кафедра, где работали 7 докторов наук, профессоров; 46 кандидатов наук, доцентов; 55 старших преподавателей; 101 преподаватель и ассистент; 1 научный сотрудник.</li>
<li> Проведены кадровые назначения:</li>
<ul>
	<li>- проректором по научной работе назначен заведующий сектором БГУ им. В.И. Ленина,</li>
<li>к.ф.-м.н. С.С. Шушкевич (05.01.1967 – 16.09.1969);</li>
<li>- деканом РТФ назначен доцент кафедры КиТПРА Я.В. Шатило (06.01.1967 – 29.01.1972).</li>
</ul>
</ul>












