
<meta charset="utf-8">


<meta charset="utf-8">
<p>1968</p>
<ul>
	<li> Основан факультет общественных профессий (ФОП), декан – к.т.н. Ю.С. Трикоз. В составе факультета пять отделений: лекторское, руководителей любительских киностудий, спортивное, комсомольского пропагандиста, инструкторов по радиоспорту. За время существования факультета 405 студентов получили дипломы второй профессии.</li>
	<li> Создан научно-исследовательский сектор (НИС).</li>
	<li> Создано студенческое конструкторское бюро на правах отдельного структурного подразделения.</li
	<li> Открыто отделение общества «Знание».</li>
	<li> Проведены кадровые назначения:</li>
<ul>
	<li> деканом ФАВТ назначен к.т.н., доцент В.И. Рыжанков (18.11.1968 – 01.09.1976);</li>
	<li> деканом ОТФ назначен к.т.н., доцент В.Н. Купчинов (08.01.1968 – 01.09.1969);</li>
	<li> начальником НИС назначен к.т.н., доцент В.А. Синяев.</li>
</ul>
	<li> Секретарем комитета комсомола избран В.А. Печенников.</li>
	<li> Секретарем партбюро избран А.А. Шимкович.</li>
	<li> Студенческое научно-техническое общество провело первую студенческую научную конференцию.</li>

	<li>В МРТИ организован и проведен фестиваль бит-ансамблей г. Минска. Бит-ансамбль МРТИ «Алгоритмы» стал победителем 1-го Минского фестиваля и завоевал главный приз тарную гитару» </li>

	<li>Организованы спортивно-оздоровительные лагеря в Крыму, на Кавказе и в г.п. Логойск.</li>
	<li> По итогам смотра-конкурса на лучший студенческий отряд, посвященного 50-летию Октября, МРТИ занял 1-е место в республике.</li>
</ul>












