
<meta charset="utf-8">
<p>1969</p>
<ul>
	<li> На основании приказа Министра высшего и среднего специального образования</li>
</ul>
<p>БССР № 120 от 24.03.1969 ОТФ преобразован в вечерний факультет (ВФ).</p>
<ul>
	<li> Проведены кадровые назначения:</li>
         <ul>
	<li>декан ОТФ к.т.н., доцент В.Н. Купчинов переведен на должность декана                                                                          (01.09.1969 –04.10.1973);</li>
        </ul>
	<li> Секретарем партбюро избран М.С. Хандогин.</li>
	<li> Команда МРТИ по радиоспорту приняла участие в первенстве СССР. В личном зачете</li>
</ul>
<p>звание чемпиона СССР в многоборье радистов завоевал Ю.Д. Корякин.</p>
<ul>
	<li>• Почетное звание «Заслуженный деятель физической культуры БССР» присвоено преподавателю кафедры физвоспитания А.В. Медведю.</li>
</ul>
<ul>
	<li>МРТИ принимал делегацию из Чехословакии.</li>
</ul>

