
<meta charset="utf-8">
<p>1976</p>
<ul>
	<li>Министр высшего и среднего специального образования СССР В.П. Елютин и заместитель Председателя Совета Министров БССР Н.Л. Снежкова посетили нститут и ознакомились с перспективными научными разработками.</li>
	<li> Открыт первый совет по защите диссертаций по автоматике и вычислительной технике. Более 20 лет его возглавлял профессор В.М.Ильин.</li>
	<li> Открыта межвузовская кафедра спортивного совершенствования.</li>
	<li> Проведены кадровые назначения:</li>
             <ul>
		<li>проректором по административно-хозяйственной работе назначен старший инженер НИСа А.С. Мельников (21.06.1976 –29.01.1979);</li>
		<li>деканом ФАВТ назначен доцент кафедры АиТ, к.т.н. В.П. Кузнецов (01.09.1976 – 18.01.1978);</li>
                <li>заведующим кафедрой спортивного совершенствования назначен профессор, заслуженный деятель физической культуры БССР,заслуженный тренер БССР, заслуженный тренер СССР А.В. Медведь.</li>
		
	     </ul>
<li>Указом Президиума Верховного Совета БССР д.т.н., профессору В.Я. Савельеву первому в МРТИ присвоено почетное звание «Заслуженный деятель науки и техники БССР»</li>
<li>МРТИ стал победителем Всесоюзного общественного смотра использования изобретений с вручением диплома ВЦСПС.</li>
<li> Гость МРТИ, летчик-космонавт СССР П.И. Климук выступил с докладом о работе в космосе, методах подготовки космонавтов. В разные годы гостями института были космонавты Г.В. Хрунов, В.В. Коваленок, В.В. Рюмин.</li>
<li> Состоялась отчётно-выборная конференция профсоюзной организации сотрудников,председателем месткома избран В.В. Скурко.</li>
<li>   Председателем студенческого профкома избран С.И. Каракулько</li>

</ul>
	
	






