
<meta charset="utf-8">
<p>1973</p>

<ul>
	<li>Введен в строй учебно-лабораторный корпус № 3.</li>
	<li>Приказом ректора № 659 от 02.10.1973 РТФ разделен на два факультета:</li>
             <ul>
               <li>факультет конструирования и технологии радиоэлектронной аппаратуры (ФКиТРЭА);</li>
               <li>факультет радиотехники и электросвязи (ФРЭС).</li>
             </ul>
        <li>Проведены кадровые назначения:</li>
             <ul>
               <li>проректором по учебной работе назначен заведующий кафедрой следящих систем,</li>
               <li>приборов и устройств автоматики, к.т.н., доцент Я.И. Онацкий (16.03.1973 – 29.10.1979);</li>
               <li>декан РТФ, доцент кафедры КИПРА, к.т.н. Г.М. Попов переведен на должность декана ФКиТРЭА (27. 12.1973 – 03.10.1975</li>
               <li>деканом ФРЭС назначен ассистент кафедры ТОР А.К. Битус (25.10.1973 – 01.01.1974);</li>
               <li>деканом вечернего факультета назначен старший преподаватель кафедры АиТ, к.т.н. С.В. Лукьянец (27.12.1973 – 06.07.1974).</li>
               <li> проректором по учебной работе назначен заведующий кафедрой следящих систем,приборов и устройств автоматики, к.т.н., доцент Я.И. Онацкий (16.03.1973 – 29.10.1979)</li>
               <li>декан РТФ, доцент кафедры КИПРА, к.т.н. Г.М. Попов переведен на должность декана ФКиТРЭА (27. 12.1973 – 03.10.1975)</li>
               <li>деканом ФРЭС назначен ассистент кафедры ТОР А.К. Битус (25.10.1973 – 01.01.1974)</li>
	       <li> деканом вечернего факультета назначен старший преподаватель кафедры АиТ, к.т.н.С.В. Лукьянец (27.12.1973 – 06.07.1974).</li>
               <li> Секретарем комитета комсомола избран Н.Н. Ворозов.</li>
	       <li>Партбюро преобразовано в партийный комитет (партком), секретарем парткома избран М.С. Хандогин.</li>
            </ul>


	<li>Приказом Министерства электронной промышленности СССР и Минвуза БССР в институте создана отраслевая научно-исследовательская лаборатория устойчивости изделий электронной техники к эксплуатационным воздействиям, научным руководителем которой назначен к.т.н., доцент В.А. Синяев, заведующим – к.т.н., доцент Ю.В. Шамгин</li>


	<li> Создана постоянно действующая комиссия МРТИ и ПО «Горизонт» по научно-техническому сотрудничеству и опытно-промышленной проверке результатов научных исследований, выполняемых в институте.</li>
	<li> Студенческие строительные отряды института освоили около 2,5 млн рублей капитальных вложений. Заслуженной славой пользовались отряды «Квант», «Вясёлка», «Алгол», «Сириус».</li>
</ul>

	
	



