html {
    overflow-y:hidden;  /*для вертикального*/
    overflow-x:hidden;  /*для горизонтального*/
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    overflow-y:hidden;  /*для вертикального*/
    overflow-x:hidden;  /*для горизонтального*/
}

.navbar {
    background-color: #286a9b !important;
}

.brand {
    font-weight: 900;
    font-size: 34px;
}

.brand-image {
    margin-top: 3px;
}

.nav-button {
    font-weight: 300;
    font-size: 16px;
    margin: 0 10px;
}

.nav-button-drop {
    font-weight: 300;
    font-size: 16px;
}

.page-footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #192b57 !important;
}

#preloader {
    background-color: #192b57 !important;
}

.preloader {
    font-weight: 400;
    font-size: 130px;
    color: white;
}

.preloader-image {
    margin-bottom: 85px;
}

.panel {
    overflow-y: scroll;
}

.panel-body > div {
    margin-bottom: 40px;
}
/*******************************************/

#year {
    position: fixed;
    top: 78px;
    left: 40px;
}

.timeline-input {
    position: fixed;
    top: 78px;
    left: 200px;
    width: 1400px;
}

.current {
    position: fixed;
    top: 65px;
    right: 40px;
    width: 180px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

a.current.active {
    border-color: red;
}

.current:hover {
    border-color: white;
    color: white;
}

.year-page {
    position: fixed;
    top: 140px;
    left: 80px;
    right: 80px;
    bottom: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    font-weight: 500;
}

.year-page p, .year-page li, .symbolic p , .symbolic li, .rector p, .rector li, .text p, .text li {
    color: black;
    font-weight: 500;
    font-size: 17px;
}

/*********************************************/

.symbolic {
    position: fixed;
    top: 470px;
    left: 180px;
    right: 180px;
    bottom: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    overflow-y: hidden;
}

.rector {
    position: fixed;
    top: 80px;
    left: 80px;
    right: 80px;
    bottom: 60px;
    background-color: rgba(255, 255, 255, 0.4);
}

div.rector-button {
    margin-top: 80px;
}

div.rector-button > a.active {
    border-color: red;
}

div.rector-button > a:hover {
    border-color: white;
}

.rector {
    position: fixed;
    top: 160px;
}

div.symbolic-button > a.active {
    border-color: red;
}

div.symbolyc-button > a:hover {
    border-color: white;
}

div.rector-button > a, div.symbolic-button > a {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

div.rector-button > a:hover, div.symbolic-button > a:hover {
    color: white;
}

.name {
    font-weight: 900;
    font-size: 32px;
}

.summary {
    font-weight: 800;
    font-size: 24px;
}

.years {
    font-size: 40px; !important;
    font-weight: 900; !important;
    color: #286a9b; !important;
}

ul.list > li{
    list-style-type: square; !important;
    padding-left: 20px;
}