
<meta charset="utf-8">
<p>1980</p>
<ul>
	<li>Приказом ректора № 1/464 от 05.05.1980 проведена реорганизация факультетов, образованы:</li>
		<ul>
			<li>конструкторско-технологический факультет (КТФ);</li>
			<li>факультет автоматизации управления (ФАУ);</li>
			<li>факультет радиотехники и электроники (ФРЭ);</li>
			<li>факультет вычислительной техники (ФВТ);</li>
			<li>факультет электросвязи (ФЭС).</li>
		</ul>
	<li> Приказом ректора № 1/1144 от 10.12.1980 в составе ВФ создано заочное отделение по специальностям «Полупроводники и диэлектрики» и «Радиотехника».</li>
	<li> В соответствии с решением ЦК КПБ и Совета Министров БССР открыто специальное конструкторско-технологическое бюро с опытным производством I категории, директором СКТБсОП назначен к.т.н., доцент А.М. Бригидин.</li>
	<li>Создан учебно-методический совет института и его секции.</li>
	<li> Введен в строй учебно-лабораторный корпус № 4.</li>
	<li> Проведены кадровые назначения:</li>
	<ul>
		<li> проректором по административно-хозяйственной работе назначен главный инженер БПИ Е.Н. Чумаков (08.09.1980 – 06.06.1984);</li>
		<li>- декан ФКиТРЭА, доцент кафедры микроэлектроники, к.т.н. И.Н. Лещенко переведен на должность декана КТФ (01.09.1980 – 16.05.1985);</li>
		<li> деканом ФАУ назначен доцент кафедры АСУ, к.т.н. В.П. Соловьев (01.09.1980 22.11.1985);</li>
		<li>декан ФРЭС, доцент кафедры ТОР, к.т.н. А.К. Битус переведен на должность декана ФРЭ(01.09.1980 – 22.11.1985);</li>
		<li> деканом ФВТ назначен доцент кафедры ЭВМ, к.т.н. А.Е. Леусенко (01.09.1980 –07. 06.1982);</li>
		<li> деканом ФЭС назначен доцент кафедры РПдУиРТС, к.т.н. М.И. Васильев (01.09.1980 –30.11.1990);</li>
		<li>начальником НИС назначен к.т.н. Ю.В. Кучеренко (01.11.1980 – 11.07.1984).</li>
	</ul>

	<li> Почетное звание «Заслуженный работник высшей школы БССР» присвоено к.т.н., профессору В.М. Ильину.</li>
	<li> Звание «Заслуженный работник культуры БССР» присвоено д.и.н., профессору Т.Е. Солодкову.</li>
	<li>МРТИ вручено переходящее Красное Знамя Минвуза СССР и Центрального комитета профсоюза работников высшей школы и научных учреждений по итогам Всесоюзного социалистичесого соревнования в честь 60-летия образования СССР.</li>
	<li>Студенческий строительный отряд института «Минск» признан лучшим по общественно-политической работе и отмечен вымпелом Смоленского обкома комсомола.</li>
