
<meta charset="utf-8">
<p>1974</p>
<ul>
	<li>МРТИ отметил 10-летний юбилей. Выпущен первый проспект об институте.</li>
	<li>Контингент студентов вырос до 5200 человек, аспирантов – до 120 человек.</li>
	<li> Начато заселение студенческого общежития № 1 на 836 мест.</li>
	<li>В учебном корпусе №3 введен в строй спортзал и 25-метровый плавательный бассейн,первый в системе Министерства высшего и среднего специального образования БССР.</li>
	<li> Реорганизована кафедра КиПРА, на ее основе созданы три кафедры КиПЭВА, КиПРА,ТРЭА.</li>
	<li>Создан патентно-лицензионный отдел и первичная организация изобретателей и рационализаторов МРТИ.</li>
	<li>Создана постоянно действующая комиссия МРТИ и ПО «Интеграл» по научно-техническому сотрудничеству, опытно-промышленной проверке и внедрению результатов завершенных научно-исследовательских работ.</li>
        <li> Объем научно-исследовательских и опытно-конструкторских работ достиг 2,2 млн рублей.</li>
	<li> Проведены кадровые назначения:</li>
             <ul>
		<li>проректором по научной работе назначен декан вечернего факультета, к.т.н., доцент С.В. Лукьянец (06.07.1974 – 26.11.1979);</li>
		<li>проректором по административно-хозяйственной работе назначен В.В. Сазонов(25.03.1974 – 11.11.1974);</li>
		<li>проректором по административно-хозяйственной работе назначен А.В. Дронов(11.11.1974 – 15.06.1976);</li>
		<li>деканом ФРЭС назначен доцент кафедры физики, к.ф.-м.н. Е.Е. Тхарев (01.01.1974 –01.12.1977);</li>
		<li>деканом ВФ назначен ст. преподаватель кафедры РПдУиРТС В.И. Капышев (17.09.1974 –05.10.1981).</li>
	     </ul>
<li> МРТИ посетил и ознакомился с научно-исследовательской работой Герой Социалистического Труда, академик АН СССР Н.Д. Девятков. В разные годы с организацией научно-исследовательской работы в институте знакомились академики АН СССР Г.И. Марчук, Н.Г. Басов, Ж.И. Алферов и другие видные деятели науки.</li>
<li> Выставку студенческого творчества МРТИ посетили секретарь ЦК КПБ А.Т. Кузьмин, заместитель Председателя Совета Министров БССР Н.Л. Снежкова и Министр высшего и среднего специального образования БССР Н.М. Мешков.</li>
<li> Секретарем парткома избран В.А. Батуревич</li>
<li> Студенческий строительный отряд «Минск», постоянно работавший на родине первого в мире летчика-космонавта Ю.А. Гагарина, признан победителем социалистического соревнования и награжден переходящим Красным знаменем ЦК ВЛКСМ.</li>
</ul>
	
	



