
<meta charset="utf-8">
<p>1972</p>
<ul>
	<li> Функционировали 22 кафедры, профессорско-преподавательский состав насчитывал 340 человек: 3 доктора наук, профессора, 1 член-корреспондент АН БССР, 85 кандидатов наук, доцентов, 106 старших преподавателей, 56 преподавателей, 89 ассистентов.</li>
	<li> Контингент студентов возрос до 4850 человек: дневное отделение – 3168, вечернее –1600, заочное отделение – 82.</li>
	<li> На кафедре ЭВМ в учебном корпусе № 1 организована учебно-информационная вычислительная лаборатория на базе ЭВМ «Минск- 22» и «Минск-32».</li>
	<li> Проведены кадровые назначения:</li>
<ul>
	<li>деканом РТФ назначен к.т.н., доцент кафедры КиТПРА Г.М. Попов (01.02.1972 –03.10.1975)</li>
</ul>
	<li> Второй год подряд коллектив института признается победителем социалистического соревнования в системе Минвуза БССР.</li>
<li> МРТИ занял 1-е место среди технических вузов БССР в Республиканском смотре-конкурсе на лучший вуз по постановке студенческой научно-исследовательской и опытно-конструкторской работы.</li>
	<li> Доцент МРТИ А.В. Медведь завоевал третью золотую медаль по вольной борьбе на XX летних Олимпийских играх в г. Мюнхене.</li>

	<li> Организован духовой оркестр, получивший впоследствии звание «Народный». Более 30 лет им руководил профессиональный музыкант Н.П. Подлуцкий.</li>
</ul>

	
	



