
<meta charset="utf-8">
<p>1979</p>
<ul>
	<li> В Торговой палате зарегистрирован товарный знак МРТИ.</li>
	<li> Проведены кадровые назначения:</li>
		<ul>
			<li>проректор по научной работе к.т.н., доцент С.В. Лукьянец переведен на должность проректора по учебной работе(26.11.1979 – 05.03.1985);</li>
			<li>проректором по научной работе назначен декан ФКиТРЭА, д.т.н., профессор В.В. Муравьев (26.11.1979 – 19. 04.2004);</li>
			<li>деканом ФКиТРЭА назначен доцент кафедры микроэлектроники, к.т.н. И.Н. Лещенко(15.06.1979 – 01.09.1980).</li>
		</ul>
</ul>

<ul>
	
	<li>Присуждена II премия конкурса Президиума АН СССР на лучшую фундаментальную разработку в области микроэлектроники (авторы: А.П Достанко, В.В. Баранов, М.И. Пикуль,М.М. Тхостов, В.Я. Ширипов, В.В. Шаталов).</li>
	<li>Почетное звание «Заслуженный деятель науки и техники БССР» присвоено д.т.н., про-
фессору Б.М. Богдановичу</li>
	<li>Звание «Заслуженный тренер БССР» присвоено профессору А.В. Медведю.</li>
	<li>Духовому оркестру института присвоено почетное звание «Народный».</li>
</ul>






