
<meta charset="utf-8">
<p>1978</p>
<ul>
	<li> В институте обучалось 6940 студентов (5200 – на дневном, 1740 – на вечернем отделении), а также 225 слушателей подготовительного отделения и 140 аспирантов. По численности студентов дневного отделения МРТИ вышел на 3-е место в республике после БПИ и БГУ.</li>
	<li>В институте работали 570 штатных преподавателей: 14 докторов и более 200 кандидатов наук; 260 человек – штатные научные и инженерно-технические сотрудники.</li>
	<li> Проведены кадровые назначения:</li>
		<ul>
			<li>деканом ФАВТ назначен к.т.н., доцент кафедры АиТ А.В. Николаев (18.01.1978-01.09.1980).</li>
		</ul>
</ul>

<ul>
	<li>Секретарем комитета комсомола МРТИ избран С.Е. Губарь.</li>
	<li>Секретарем парткома избран М.С. Хандогин.</li>
	<li>За успехи в учебно-методической, научно-исследовательской, физкультурно-спортивной и воспитательной работе коллектив МРТИ награжден Почетной Грамотой Президиума Верховного Совета БССР, ряд сотрудников отмечен высокими правительственными наградами, почетными званиями, государственными и другими премиями.</li>
	<li>Первым в МРТИ лауреатом премии Президиума АН СССР за лучшие фундаментальные разработки в области микроэлектроники стал д.т.н., профессор В.А. Лабунов.</li>
	<li>МРТИ присуждено 1-е место и переходящее Красное Знамя Министерства высшего и среднего специального образования СССР и ЦК профсоюза работников просвещения, высшей школы и научных учреждений за успехи в работе.</li>
	<li>Студенческому конструкторскому бюро присуждено 1-е место во Всесоюзном смотре-конкурсе студенческих конструкторских, исследовательских, проектных, технологических, экономических бюро (научный руководитель А.П. Ткаченко, начальник В.В. Ращинский).</li>
	<li>При общежитии № 1 по инициативе комитета комсомола открыто первое в Белоруссии комсомольско-молодежное кафе «Сузор’е».</li>
</ul>











