
<meta charset="utf-8">
<meta charset="utf-8">
<p>1970</p>
<ul>
	<li> Начало работу подготовительное отделение МРТИ (заведующий – Е.Н. Макаревич).</li>
	<li> За достигнутые успехи в деле коммунистического воспитания молодежи и в связи с 50-летием комсомола Белоруссии комсомольская организация МРТИ награждена Почетной грамотой ЦК ЛКСМБ.</li>
	<li>МРТИ присуждено первое место в республиканском конкурсе среди вузов на лучшую организацию научно-исследовательской работы.</li>

	<li> Учрежден международный турнир по вольной борьбе на призы Олимпийского чемпиона А.В. Медведя, преподавателя кафедры физвоспитания МРТИ.</li>
	<li> Председателем студенческого профкома избран П.П. Лычук.</li>
	<li> Секретарем комитета комсомола избран А.Я. Родин.</li>
</ul>













