
<meta charset="utf-8">
<p>1977</p>
<ul>
	<li> Организованы учебно-научно-производственные объединения «МРТИ – НИИ ЭВМ МПО вычислительной техники» и «МРТИ – НПО «Интеграл». Экономический эффект от разработок, внедренных институтом в объединениях, составил около 1 млн руб.,опубликовано 36 статей, защищены 2 и подготовлены к защите 4 кандидатские диссертации.</li>
        <li> На кафедре микроэлектроники открыта первая в Белоруссии проблемная лаборатория «Электромеханические и плазменные процессы в микроэлектронике», научный руководитель – д.т.н., профессор В.А. Лабунов.</li>
	<li> Проведены кадровые назначения:</li>
		<ul>
			<li>деканом ФРЭС назначен ст. преподаватель кафедры ТОР, к.т.н. А.К. Битус (01.12.1977 – 01.09. 1980).</li>
		</ul>
	<li> За достижение высоких показателей во Всесоюзном социалистическом соревновании МРТИ награжден Почетной грамотой Министерства высшего и среднего специального образования СССР и Центрального комитета профсоюза работников просвещения, высшей школы и научных учреждений.</li>
	<li> Группа сотрудников МРТИ и НПО «Интеграл» удостоена I премии Президиума АН СССР за лучшую работу в области микроэлектроники.</li>
	<li> В МРТИ издано первое учебное пособие с грифом Минвуза СССР «Электротехника» под редакцией заведующей кафедрой ТОЭ, д.т.н., профессора И.А. Федоровой.</li>
	<li> Состоялся творческий вечер Героя Социалистического Труда поэта Расула Гамзатова. В разные годы гостями коллектива института были поэты Н. Гилевич, А. Дементьев, И. Лученок и другие деятели культуры.</li>
</ul>











