{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BSUIR</title>

    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">

    <!-- Main CSS file -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <link href="{% static 'preloader/preloader.css' %}" rel="stylesheet">

</head>

<body>

    <!--Preloader-->
    <div id="preloader">
        <div class="verticalcenter">
            <div class="text-center">
                <div id="status">
                    <span class="white-text preloader">БГУИР</span>
                    <img  class="preloader-image" src="{% static 'images/logo.png' %}" width="200" height="150">
                </div>
            </div>
        </div>
    </div>
    <!--Preloader-->

    <!--Navigation-->
    <nav class="navbar top-nav-collapse navbar-fixed-top z-depth-2 hidden" role="navigation">
        <div class="container col-lg-12">
            <div class="col-lg-2">
                <a class="navbar-brand brand" href="{% url 'index' %}">БГУИР</a>
                <img  class="brand-image" src="{% static 'images/logo.png' %}" width="80" height="55">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% if active_nav_button == 'timeline' %}active{% endif %}"><a href="{% url 'timeline' %}" class="waves-effect waves-light nav-button ">Калейдоскоп времени</a></li>
                    <li class="{% if active_nav_button == 'symbolics' %}active{% endif %}"><a href="{% url 'symbolics' %}" class="waves-effect waves-light nav-button">Символика</a></li>
                    <li class="{% if active_nav_button == 'rectors' %}active{% endif %}"><a href="{% url 'rectors' %}" class="waves-effect waves-light nav-button">Ректоры</a></li>
                    <li><a href="#" class="waves-effect waves-light nav-button">Почетные доктора</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle waves-effect waves-light nav-button" data-toggle="dropdown" role="button" aria-expanded="false">Молодежь<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" class="nav-button-drop">Творчество</a></li>
                            <li><a href="#" class="nav-button-drop">Спорт</a></li>
                            <li><a href="#" class="nav-button-drop">Молодежные организации</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="waves-effect waves-light nav-button">Факультеты</a></li>
                    <li><a href="#" class="waves-effect waves-light nav-button">Доска почета</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/.Navigation-->

    {% block content %}
        <p class="index-text" style="text-align: center; font-weight: 700; font-size: 78px; position: fixed; top: 250px; color: #286a9b;">БЕЛОРУССКИЙ ГОСУДАРСТВЕННЫЙ УНИВЕРСИТЕТ ИНФОРМАТИКИ И РАДИОЭЛЕКТРОНИКИ</p>
    {% endblock %}

    <!--Footer-->
    <footer class="page-footer center-on-small-only z-depth-2 hidden">
        <div class="footer-copyright text-center rgba-black-light">
            <div class="container-fluid">
                <a href="https://bsuir.by"> БГУИР 2017</a>
            </div>
        </div>
    </footer>
    <!--Footer-->

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Material Design Bootstrap -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

    <!-- Preloader -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).load("../static/preloader/preloader.html", function () {
                var time = 2500;
                $('#preloader').delay(time).fadeOut('slow');
                setTimeout(function () {
                    $('#status').addClass('animated flipOutY');
                    $('nav').removeClass('hidden').addClass('animated fadeInDown');
                    $('footer').removeClass('hidden').addClass('animated fadeInUp');
                    $('.index-text').addClass('animated fadeIn');
                }, time);
                $('body').delay(time).css({'overflow': 'visible'});
            });
        });

        $('li.active').on('click', function (e) {
            e.preventDefault();
        });

    </script>

    {% block additional_js %}
    {% endblock %}



</body>

</html>