{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="col-lg-4 rector-button" style="text-align: center"><a id="1" class="btn btn-border-primary waves-effect active">БАТУРА МИХАИЛ ПАВЛОВИЧ</a></div>

    <div class="col-lg-4 rector-button" style="text-align: center"><a id="2" class="btn btn-border-primary waves-effect ">ИЛЬИН ВИКТОР МАКАРОВИЧ</a></div>

    <div class="col-lg-4 rector-button" style="text-align: center"><a id="3" class="btn btn-border-primary waves-effect">КОВАЛЕВ ИВАН СИДОРОВИЧ</a></div>

    <div id="rector-1" class="panel panel-default hidden rector animated">
        <div class="panel-body">

            <div class="col-lg-offset-1 col-lg-10">
                <p>Приказом Министерства образования Республики Беларусь № 104-К от 29. 09. 2000 со 2 октября 2000 года ректором БГУИР назначен первый проректор университета, кандидат технических
                    наук, профессор Михаил Павлович Батура</p>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-offset-2 col-lg-5">
                    <h4 class="name">БАТУРА МИХАИЛ ПАВЛОВИЧ</h4>
                    <p class="summary">Ректор Белорусского государственного университета информатики и радиоэлектроники со 2 октября 2000 года. Доктор технических наук, профессор, академик
                        Международной академии наук высшей школы, заслуженный работник образования Республики Беларусь</p>
                </div>

                <div class=" col-lg-5">
                    <img src="{% static 'rectors/batura.jpg' %}" width="250">
                </div>
            </div>

            <div class="col-lg-offset-1 col-lg-10">
                <p>Михаил Павлович Батура родился 16 мая 1950 года в д. Клюковичи Новогрудского района Гродненской области. В 1966 году окончил с серебряной медалью Куровичскую среднюю школу
                    Новогрудского района. Работал на стройке в родном колхозе «40 лет Октября».</p>
                <p>В 1968 – 1970 гг. служил в рядах Вооруженных Сил СССР. В апреле 1970 г. от имени Президиума Верховного Совета СССР М.П. Батура был награжден юбилейной медалью«За воинскую доблесть.
                    В ознаменование 100-летия со дня рождения Владимира Ильича Ленина».</p>
                <p>В августе 1970 года стал студентом МРТИ. Все студенческие годы М.П. Батура – студент-отличник, 1973 – 1975 гг. – Ленинский стипендиат. Активно участвовал в общественной жизни: в
                    1972 – 1975 гг. избирался секретарем комитета комсомола факультета автоматики и вычислительной техники, членом Советского РК ЛКСМБ г. Минска. Девять развыезжал в составе
                    студенческих строительных отрядов в Коми АССР и Западную Сибирь в качестве бойца, бригадира, командира отряда, главного инженера, командира сводного отряда.</p>
                <p>В 1975 году после окончания с отличием института направлен на кафедру автоматизированных систем управления факультета автоматики и вычислительной техники МРТИ на должность
                    ассистента. С декабря 1978 года – аспирант очной формы обучения. После окончания аспирантуры с января 1982 года – ассистент кафедры вычислительных методов программирования.</p>
                <p>В 1984 году защитил кандидатскую диссертацию, а в 1985 году ему присвоено ученое звание доцента. С января 1986 года работал заместителем декана, с декабря 1987 по февраль 1995 года
                    – деканом факультета автоматизации управления, с февраля 1995 года по сентябрь 1998 года – деканом факультета информационных технологий и управления, с 1993 года – профессором
                    кафедры вычислительных методов и программирования. В 1996 – 1998 гг. работал ответственным секретарем приемной комиссии БГУИР. В сентябре 1998 года назначен на должность проректора
                    по учебной работе университета, в июне 1999 года переведен на должность первого проректора. Со 2 октября 2000 года – ректор БГУИР.</p>
                <p>М.П. Батура – известный ученый в области системного анализа, управления и обработки информации в технических и организационных системах. В 2003 году защитил докторскую диссертацию.
                    Им разработаны основы теории статистической динамики сложных нелинейных систем, методы и методики автоматизированного проектирования дискретных систем с фазовым управлением с
                    учетом их нелинейных характеристик. Является автором более 150 научных работ, в том числе 4 монографий, одного учебника, выдержавшего три издания, 4 учебных пособий, имеет
                    авторские свидетельства на изобретения, подготовил двух кандидатов технических наук, является председателем совета по защите докторских и кандидатских диссертаций, научным
                    руководителем (консультантом) докторантов, аспирантов и соискателей.</p>
                <p>С 2005 года в соответствии с Указом Президента Республики Беларусь является членом наблюдательного совета Парка Высоких Технологий. Награжден дипломом ВДНХ Республики Беларусь. 6
                    марта 2000 года награжден нагрудным знаком «Выдатнiк адукацыi Рэспублiкi Беларусь». 4 марта 2004 года награжден медалью Национального олимпийского комитета Республики Беларусь «За
                    выдатныя заслугi». Награжден Почетной грамотой Национального собрания Республики Беларусь, Почетной грамотой Высшей аттестационной комиссии, Почетной грамотой Министерства
                    образования Республики Беларусь. Объявлена благодарность Министерства образования Республики Беларусь и Минского горисполкома за плодотворную научно-педагогическую деятельность и
                    большой личный вклад в подготовку высокопрофессиональных специалистов и воспитание молодежи.</p>
                <p>Указом Президента Республики Беларусь от 29 сентября 2005 года награжден медалью «За трудовые заслуги». В 2008 году присвоено почетное звание «Минчанин года» в номинации «В области
                    высшего образования и науки». 23 февраля 2008 года награжден юбилейной медалью «90 лет Вооруженным Силам Республики Беларусь». 15 марта 2009 года награжден Почетной грамотой
                    Министерства промышленности Республики Беларусь.</p>
                <p>Указом Президента Республики Беларусь № 58 от 21 февраля 2011 года за многолетнюю плодотворную работу, высокий профессионализм, значительный личный вклад в развитие образования
                    присвоено почётное звание «За работник образования Республики Беларусь»</p>
            </div>

        </div>
    </div>

    <div id="rector-2" class="panel panel-default hidden rector animated">
        <div class="panel-body">

            <div class="col-lg-offset-1 col-lg-10">

                <p>16 – 18 января 1973 года состоялось Всесоюзное совещание работников высшей школы в Кремле. В нем участвовали секретарь парткома МРТИ М.С. Хандогин и проректор по учебной
                    работе В.М. Ильин. На совещании были подведены итоги развития высшей школы страны и определены задачи на ближайшие пятилетки с целью углубления научно-технического прогресса.
                </p>
                <p> Приказом Министерства высшего и среднего специального образования БССР с 8 февраля 1973 года ректором МРТИ назначен проректор по учебной работе, кандидат технических наук,
                    доцент Виктор Макарович Ильин.
                </p>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-offset-2 col-lg-5">
                    <h4 class="name">ИЛЬИН ВИКТОР МАКАРОВИЧ</h4>
                    <p class="summary">Ректор Минского радиотехнического института – Белорусского государственного университета информатики и радиоэлектроники с 08 февраля 1973 года по 30 июня 2000
                        года. Заслуженный работник высшей школы БССР, кандидат технических наук, профессор, академик Международной академии наук высшей школы, Почетный ректор БГУИР.</p>
                </div>

                <div class=" col-lg-5">
                    <img src="{% static 'rectors/ilin.jpg' %}" width="250">
                </div>
            </div>

            <div class="col-lg-offset-1 col-lg-10">
                <p>Виктор Макарович Ильин родился 31 марта 1930 года в д. Селец Мстиславского района Могилевской области. В 1945 году окончил семилетнюю школу и поступил в 8-й класс 1-й средней школы
                    г. Мстиславля. В 1948 году окончил школу и поступил на энергетический факультет Белорусского политехнического института.</p>
                <p>В 1953 году окончил БПИ и был оставлен в институте для педагогической и научной работы. Прошел путь ассистента кафедры теоретической и общей электротехники, старшего преподавателя и
                    доцента.</p>
                <p>Поставил ряд новых лабораторных работ, написал 3 главы для учебного пособия «Общая электротехника», которое вышло с грифом Минвуза БССР, автор многих научных статей, опубликованных
                    в республиканских и союзных изданиях. Получил 3 авторских свидетельства на изобретения. Результаты исследований докладывались на международных конференциях и экспонировались на
                    ВДНХ СССР и за рубежом.</p>
                <p>В 1963 году защитил диссертацию на соискание степени кандидата технических наук, в 1966 году утвержден Высшей аттестационной комиссией СССР в ученом звании доцента. С 1963 по 1966
                    гг. работал заместителем декана энергетического факультета БПИ, в начале 1971 года назначен деканом этого факультета.</p>
                <p>С ноября 1971 года переведен на должность проректора по учебной работе Минского радиотехнического института. 08 февраля 1973 года был назначен ректором МРТИ. Под руководством В.М.
                    Ильина был создан устойчиво и эффективно работающий учебно-научно-производственный комплекс с гармонично развивающимися составляющими: спектром специальностей и специализаций,
                    кафедрами и факультетами, учебно-методической, научно-исследовательской и маркетинговой деятельностью, развернутой системой подготовки кадров высшей квалификации и переподготовки
                    ИТР, современной материально-технической, физкультурно-спортивной и оздоровительной базой, тесными связями с производственными и научными организациями своей страны и с зарубежными
                    вузами и фирмами, с многочисленными контрактами, выполняемыми по их заказам.</p>
                <p>В связи с достижением пенсионного возраста и окончанием контракта 30 июня 2000 года освобожден от обязанностей ректора. 04 июля 2000 года Совет университета тайным голосованием
                    единогласно избрал В.М. Ильина Почетным ректором Белорусского государственного университета информатики и радиоэлектроники.</p>
                <p>За активную педагогическую и научную, административную и общественную работу награжден орденом Трудового Красного Знамени, медалью «За доблестный труд. В ознаменование 100-летия со
                    дня рождения В.И. Ленина», медалью «Ветеран труда», Почетной грамотой Президиума Центрального совета ордена Ленина Всесоюзного общества изобретателей и рационализаторов, двумя
                    Почетными грамотами Верховного Совета БССР, Почетной грамотой Национального собрания Республики Беларусь, Почетной грамотой Совета Министров Республики Беларусь, многими Почетными
                    грамотами союзных и республиканских Министерств. В 1980 году удостоен почетного звания «Заслуженный работник высшей школы БССР», в 1993 году избран академиком Международной
                    академии наук высшей школы, в 1999 году за большой личный вклад в развитие научно-технических связей между Республикой Беларусь и зарубежными странами, за заслуги в подготовке
                    высококвалифицированных специалистов и научных кадров награжден высшим орденом Республики Беларусь – орденом Отечества III степени. В 2008 году награжден медалью «90 лет
                    Вооруженным Силам Республики Беларусь».</p>
            </div>

        </div>
    </div>

    <div id="rector-3" class="panel panel-default hidden rector animated">
        <div class="panel-body">

            <div class="col-lg-offset-1 col-lg-10">

                <p> Постановлением Совета Министров БССР № 78 от 27 февраля 1964 года 15 марта 1964 года в г. Минске открыт Минскийрадиотехнический институт (МРТИ).</p>
                <p> Приказом Министра высшего и среднего специального образования БССР 15 марта 1964 года ректором МРТИ назначен заведующий кафедрой антенно-фидерных устройств радиотехнического
                    факультета Белорусского политехнического института,кандидат технических наук, доцент Иван Сидорович Ковалев.</p>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-offset-2 col-lg-5">
                    <h4 class="name">КОВАЛЕВ ИВАН СИДОРОВИЧ</h4>
                    <p class="summary">Ректор Минского радиотехнического института с 15 марта 1964 года по 2 февраля 1973 года. Член-корреспондент Академии наук БССР, доктор технических наук,
                        профессор</p>
                </div>

                <div class=" col-lg-5">
                    <img src="{% static 'rectors/kovalev.jpg' %}" width="250">
                </div>
            </div>

            <div class="col-lg-offset-1 col-lg-10">
                <p>Иван Сидорович Ковалев родился 29 мая 1913 года в с. Ярцево Духовщинского уезда Смоленской губернии в многодетной семье рабочих. Окончил школу, фабрично-заводское училище. В 1929
                    году поступил в Московский техникум холодной обработки металлов. По окончании техникума работал техником тарифно-нормировочного бюро Московской фабрики им. Я.М. Свердлова, мастером
                    чугунолитейного завода.</p>
                <p>В 1933 году стал студентом Ленинградского электротехнического института им. В.И. Ульянова (Ленина). В мае 1941 года защитил дипломную работу и стал работать старшим лаборантом
                    лаборатории электропривода артиллерийских установок. На этой должности молодого специалиста застала Великая Отечественная война, а вскоре и блокада Ленинграда. Работал главным
                    механиком Ленинградского углекислотного завода, являлся начальником штаба батальона автоматчиков войск охраны Ленинграда. Воевал на торпедных катерах, участвовал в боевых операциях
                    Краснознаменного Балтийского флота. Награжден орденами Красной Звезды и Отечественной войны II степени, медалями «За оборону Ленинграда», «За победу над фашистской Германией в
                    Великой Отечественной войне 1941 – 1945 гг.» и «В память 250-летия Ленинграда».</p>
                <p>В апреле 1947 года демобилизовался и возвратился на работу в Ленинградский электротехнический институт им. В.И. Ульянова (Ленина) на кафедру теории электромагнитного поля. Там он
                    работал в должности преподавателя, старшего преподавателя, доцента, заместителя декана. В 1952 году защитил кандидатскую диссертацию. В 1956 году был назначен заместителем
                    директора по учебной и научной работе Таганрогского радиотехнического института.</p>
                <p>В июне 1956 года избирается на должность заведующего кафедрой теоретических основ электротехники, в том же году назначается директором (с 1961 года – ректором) Рязанского
                    радиотехнического института.</p>
                <p>В октябре 1962 года переехал в БССР, стал работать в Белорусском политехническом институте (БПИ) в должности заведующего кафедрой антенно-фидерных устройств. 15 марта 1964 года
                    назначен ректором Минского радиотехнического института, который был основан на базе функционировавшего с 1960 года радиотехнического факультета Белорусского политехнического
                    института.</p>
                <p>В 1966 году защитил докторскую диссертацию. В 1969 году избран членом-корреспондентом АН БССР по Отделению физико-технических наук по специальности «Радиоэлектроника». Являлся
                    членом бюро Отделения физико-технических наук АН БССР. Работал по совместительству в Институте прикладной физики АН БССР.</p>
                <p>В области научной деятельности опубликовал 57 работ, автор 4 изобретений, зарегистрированных Государственным комитетом Совета Министров СССР по делам изобретений и открытий.</p>
                <p>За большую и плодотворную деятельность в системе высшей школы в 1967 году награжден орденом Трудового Красного Знамени.</p>
                <p>И.С. Ковалев внес значительный вклад в становление и развитие Минского радиотехнического института, в развитие науки и техники, подготовку высококвалифицированных кадров для
                    радиоэлектроники.</p>
                <p>В 1973 году оставил пост ректора МРТИ и перешел на работу в Институт технической кибернетики АН БССР. В 1977 — 1987 гг. являлся заведующим лабораторией Института прикладной физики
                    АН БССР.</p>
                <p>И.С. Ковалев награжден 3 орденами и 12 медалями, 4 Почетными грамотами Верховного Совета БССР, почетными грамотами Министерства высшего и среднего специального образования СССР и
                    БССР.</p>
                <p>Иван Сидорович Ковалев умер 17 декабря 1987 года.</p>
            </div>


        </div>
    </div>

{% endblock %}


{% block additional_js %}

    <script type="text/javascript">

        var time = 2500;
        setTimeout(function () {
            $('#rector-1').removeClass('hidden').addClass('fadeInLeft current-rector')
        }, time);

        $('div.rector-button > a').on('click', function () {
            if (!$(this).hasClass('active')) {
                var prevId = $('a.active').attr('id');
                $('div.rector-button > a').removeClass('active');
                $(this).addClass('active');
                var id = $(this).attr('id');
                $('div.current-rector').removeClass('current-rector fadeInLeft').addClass('fadeOutRight');
                setTimeout(function () {
                    $('#rector-' + prevId).addClass('hidden').removeClass('fadeOutRight');
                }, 1000);
                $('#rector-' + id).removeClass('hidden').addClass('current-rector fadeInLeft');
            }
        });

    </script>

{% endblock %}