{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="col-lg-offset-1 col-lg-10 text" style="margin-top: 120px; margin-bottom: 30px">
        <p>Символика университета готовясь к своему 50-летнему юбилею, в БГУИР разработана новая символика университета, которую 24 октября 2013 года утвердил Геральдический совет при
            Президенте Республики
            Беларусь.</p>
        <p>Вопрос о разработке фирменного стиля БГУИР назревал уже давно. До настоящего времени
            символики, которая отражала бы специфику нашего университета, не было. В 1993 году был
            запатентован товарный знак, который использовался на официальных документах, печатной,
            сувенирной продукции университета. Он отражал область деятельности вуза, его специфику,
            однако товарный знак никак нельзя было назвать полноценной символикой. В итоге были разработаны и утверждены: эмблема, флаг, штандарт ректора, знамя, нагрудные знаки отличия об
            окончании учреждения образования «Белорусский государственный университет информатики
            и радиоэлектроники» и «За заслугі перад БДУІР».</p>
    </div>

    <div class="col-lg-4 symbolic-button" style="text-align: center"><a id="1" class="btn btn-border-primary waves-effect">ЭМБЛЕМА</a></div>

    <div class="col-lg-4 symbolic-button" style="text-align: center"><a id="2" class="btn btn-border-primary waves-effect active">ФЛАГ</a></div>

    <div class="col-lg-4 symbolic-button" style="text-align: center"><a id="3" class="btn btn-border-primary waves-effect">НАГРУДНОЙ ЗНАК</a></div>

    <div id="symbolic-1" class="panel panel-default hidden animated symbolic">
        <div class="panel-body">

            <div class="col-lg-12" style="margin-top: 20px">
                <div class="col-lg-offset-1 col-lg-3">
                    <img src="{% static 'symbolics/1.jpg' %}" width="280">
                </div>

                <div class="col-lg-7" style="margin-top: 10px">
                    <p>Эмблема сохранила известный всем товарный знак БГУИР. Цветовая гамма выбрана преи-
                        мущественно синего цвета. Это подчеркивает образовательную деятельность организации. Синий
                        символизирует духовность. Он настраивает на размышления, стремление к познанию, научному творчеству. На эмблеме содержатся такие элементы,
                        как:</p>
                    <ul>
                        <li> - синусоида и радиосигналы подчеркивают то,
                            что БГУИР активно занимается учебной и научной
                            деятельностью при подготовке специалистов в области радиоэлектроники;
                        </li>
                        <li> - земной шар обозначает информационную деятельность университета, которая охватывает практически весь мир;
                        </li>
                        <li> - раскрытая книга обозначает принадлежность
                            вуза к системе образования; это символ высокой
                            культуры, кладезь накопленной мудрости;
                        </li>
                        <li> - василек – цветок, который уже на протяжении
                            многих веков является отличительной особенностью нашего народа, республики, земли.
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="symbolic-2" class="panel panel-default hidden animated symbolic">
        <div class="panel-body">

            <div class="col-lg-offset-2 col-lg-4" style="margin-top: 70px">
                <img src="{% static 'symbolics/2.jpg' %}" width="500">
            </div>

            <div class="col-lg-offset-1 col-lg-4" style="margin-top: 100px">
                <p>Флаг БГУИР спроектирован на основе геральдического знака - эмблемы - с использованием ее
                    основных элементов и цветов. В центре флага на
                    сине-голубом фоне располагается эмблема. Внизу
                    находится надпись: «Беларускі дзяржаўны ўніверсітэт інфарматыкі і радыёэлектронікі».</p>
            </div>

        </div>
    </div>

    <div id="symbolic-3" class="panel panel-default hidden animated symbolic">
        <div class="panel-body">

            <div class="col-lg-12">
                <div class="col-lg-offset-3 col-lg-2" style="margin-top: 50px">
                    <img src="{% static 'symbolics/3.jpg' %}" width="170">
                </div>

                <div class=" col-lg-5" style="margin-top: 110px">
                    <p>Нагрудный знак отличия об окончании учреждения образования «Белорусский государственный
                        университет информатики и радиоэлектроники»
                        создан в форме ромба. В верхней части знака располагается Герб Республики Беларусь. В центре на синем фоне размещаются синусоида и радиосигналы.</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block additional_js %}

    <script type="text/javascript">

        var time = 2500;
        setTimeout(function () {
            $('#symbolic-2').removeClass('hidden').addClass('fadeInLeft current-symbolic')
        }, time);

        $('div.symbolic-button > a').on('click', function () {
            if (!$(this).hasClass('active')) {
                var prevId = $('a.active').attr('id');
                $('div.symbolic-button > a').removeClass('active');
                $(this).addClass('active');
                var id = $(this).attr('id');
                $('div.current-symbolic').removeClass('current-symbolic fadeInLeft').addClass('fadeOutRight');
                setTimeout(function () {
                    $('#symbolic-' + prevId).addClass('hidden').removeClass('fadeOutRight');
                }, 1000);
                $('#symbolic-' + id).removeClass('hidden').addClass('current-symbolic fadeInLeft');
            }
        });

    </script>

{% endblock %}