{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="timeline-input">
        <form action="#">
            <div class="range-field">
                <span id="year" style="color: white; font-size: 28px; font-weight: 900; text-align: center"></span>
                <input type="range" id="year-input" min="1964" max="2014"/>
                <a class="btn btn-border-primary waves-effect current">Сейчас</a>
            </div>
        </form>
    </div>

    <div id="1964" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1965" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1966" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1967" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1968" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1969" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1970" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1971" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1972" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1973" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1974" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1975" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1976" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1977" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1978" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1979" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1980" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1981" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1982" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1983" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1984" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1985" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1986" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1987" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1988" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1989" class="panel panel-default year-page hidden animated">
        <div class="panel-body">

            <div class="col-lg-12">

                <div class="col-lg-offset-1 col-lg-10">

                    <ul class="list">
                        <li>Учебно-исследовательская вычислительная лаборатория преобразована в вычислительный центр НИЧ на полном хозрасчете и самофинансировании.</li>
                        <li>НИЧ переведена на новые методы финансирования и хозяйствования с использованием формы хозрасчета, основанной на нормативном распределении прибыли. Введена I категория
                            оплаты труда научных работников и ИТР.
                        </li>
                        <li>В МРТИ создано Учебно-методическое управление (УМУ), начальником назначен И.И. Петровский.</li>
                        <li>Создан научно-технический кооперативный центр «Радиотехник».</li>
                        <li>Проведены кадровые назначения:
                            <ul class="list">
                                <li>деканом ФРЭ назначен доцент кафедры РПдУиРТС, к.т.н. Р. Г. Ходасевич (25.04.1989 – 31.08.2000).</li>
                            </ul>
                        </li>
                        <li>Состоялась отчётно-выборная конференция профсоюзной организации сотрудников, председателем профкома избран С.В. Ляльков.</li>
                        <li>Секретарем комитета комсомола избран С.Е. Станкевич.</li>
                        <li>Проректор по научной работе, д.т.н., профессор В.В. Муравьёв избран членом-корреспондентом АН БССР по специальности «Радиофизика».</li>
                        <li>Заведующий кафедрой микроэлектроники, д.т.н., профессор В.А. Лабунов избран членом Верховного Совета СССР.</li>
                        <li>Почетное звание «Заслуженный работник народного образования БССР» присвоено к.т.н., доценту М.С. Хандогину.</li>
                        <li>С работой коллектива МРТИ ознакомился член Политбюро, секретарь ЦК КПСС В.А. Медведев и первый секретарь ЦК КПБ Е.Е. Соколов.</li>
                    </ul>

                </div>


            </div>

            <div class="col-lg-offset-1 col-lg-10">

                <div class="col-lg-3" style="text-align: center">
                    <img src="{% static 'years/1989/1/1.jpg' %}" width="250" height="323"><br><br>
                    <p>И.И. Петровский, начальник УМУ</p>
                </div>

                <div class="col-lg-3" style="text-align: center">
                    <img src="{% static 'years/1989/1/2.jpg' %}" width="250" height="323"><br><br>
                    <p>Р.Г. Ходасевич, декан ФРЭ</p>
                </div>

                <div class="col-lg-3" style="text-align: center">
                    <img src="{% static 'years/1989/1/3.jpg' %}" width="250" height="323"><br><br>
                    <p>С.В.Ляльков, председатель<br> профкома</p>
                </div>

                <div class="col-lg-3" style="text-align: center">
                    <img src="{% static 'years/1989/1/4.jpg' %}" width="250" height="323"><br><br>
                    <p>С.Е. Станкевич, секретарь <br>комитета комсомола</p>
                </div>

            </div>

            <div class="col-lg-offset-1 col-lg-10" style="text-align: center">
                <img src="{% static 'years/1989/1/5.jpg' %}">
                <p>Праздничный концерт в честь 25-летия МРТИ</p>
            </div>

        </div>
    </div>

    <div id="1990" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1991" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1992" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1993" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1994" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1995" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1996" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1997" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1998" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="1999" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2000" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2001" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2002" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2003" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2004" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2005" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2006" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2007" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2008" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2009" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2010" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2011" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2012" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2013" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2014" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>

    <div id="2017" class="panel panel-default year-page hidden animated">
        <div class="panel-body">A Basic Panel</div>
    </div>


{% endblock %}


{% block additional_js %}

    <script type="text/javascript">
        var time = 2500;
        var page = $('#year-input').val();
        $('#year').html('Год ' + page);

        setTimeout(function () {
            $('#' + page).removeClass('hidden').addClass('fadeInRightBig').addClass('current-page');

        }, time);

        $('#year-input').on('change', function () {
            $('a.current').removeClass('active');
            var nextPage = $('#year-input').val();
            var currentPage = +$('.current-page').attr('id');
            $('#year').html('Год ' + nextPage);
            if (nextPage != currentPage) {
                $('#' + currentPage).removeClass('fadeInRightBig').addClass('zoomOut').removeClass('current-page');
                var prevPage = currentPage;
                setTimeout(function () {
                    $('#' + prevPage).addClass('hidden').removeClass('zoomOut');
                }, 1000);
                $('#' + nextPage).removeClass('hidden').addClass('fadeInRightBig').addClass('current-page');
            }
        });

        $('.current').on('click', function () {
            $(this).addClass('active');
            $('#year').html('Сейчас...');
            var nextPage = 2017;
            var currentPage = +$('.current-page').attr('id');
            if (nextPage != currentPage) {
                $('#' + currentPage).removeClass('fadeInRightBig').addClass('zoomOut').removeClass('current-page');
                var prevPage = currentPage;
                setTimeout(function () {
                    $('#' + prevPage).addClass('hidden').removeClass('zoomOut');
                }, 1000);
                $('#' + nextPage).removeClass('hidden').addClass('fadeInRightBig').addClass('current-page');
            }
        });

    </script>

{% endblock %}