
<meta charset="utf-8">
<p>1971</p>
<ul>
	<li> Создан Научно-технический совет НИСа, который возглавил член-корреспондент АН БССР, д.т.н., профессор В.Н. Трейер.</li>

	<li>Заключены договоры о научно-техническом сотрудничестве с производственным объединением «Горизонт» и производственным объединением «Интеграл».</li>
        <li> Заключены договоры о научно-техническом сотрудничестве с производственным  объединением «Горизонт» и производственным объединением «Интеграл».</li>
        <li> Проведены кадровые назначения:</li>
        <li>Проведены кадровые назначения:</li>
        <ul>
<li>проректором по научной работе назначен к.т.н., доцент В.О.Чернышев(23.05.1971     –28.02.1974).</li>
	<li>проректором по учебной работе назначен декан энергетического факультета БПИ,  к.т.н.,доцент В.М. Ильин (15.11.1971 – 08.02.1973).</li>
<li>проректором по научной работе назначен к.т.н., доцент В.О.Чернышев(23.05.1971     –28.02.1974).</li>
	<li> проректором по учебной работе назначен декан энергетического факультета БПИ,  к.т.н.,доцент В.М. Ильин (15.11.1971 – 08.02.1973).</li>
        </ul>

	<li>По результатам работы коллектив института признан победителем социалистического соревнования в системе Минвуза БССР.</li>
<li> В институте впервые прошел праздник «Посвящение в студенты».</li>
	<li> Ансамбль радиотехнического факультета занял 3-е место среди вузов г. Минска в фестивале вокально-инструментальных ансамблей и 1-е место на телевизионном конкурсе областей республики.</li>
	<li> Баскетбольная команда «РТИ-Минск» начала выступать в высшей лиге чемпионата СССР,а в 1974 году сумела занять высокое шестое место.</li>
	<li>Почетное звание «Заслуженный тренер БССР» присвоено доценту В. М. Колосу.</li>
	<li>Секция туристов спортклуба завоевала 2-е место в республиканских соревнованиях.</li>
	<li>Создана секция по спортивному ориентированию. Участниками секции завоевано 2-е место в первенстве студенческого добровольного спортивного общества «Буревестник»</li>

</ul>

	
	



