
<meta charset="utf-8">

<meta charset="utf-8">
<p>1964</p>
<ul>
	<li>МРТИ основан на базе функционировавшего с 1960 года радиотехнического факультета Белорусского политехнического института (БПИ).</li>
	<li> Открыты факультеты:</li>
        	<ul>
			<li>- радиотехнический (РТФ), специальности «Радиотехника», «Конструирование и технология производства радиоаппаратуры», «Полупроводники и диэлектрики»; декан – к.т.н., доцент Н.М. Чиркин;</li>
<li>- автоматики и вычислительной техники (ФАВТ), специальности «Автоматика и телемеханика»,</li>
<li>«Математические и счетно-решающие приборы и устройства»; декан – к.т.н., доцент И.Н. Бируля;</li>
<li>- общетехнический (ОТФ) в составе двух отделений, заочное отделение: специальности «Автоматика и телемеханика», «Радиотехника»; вечернее отделение: специальности «Полупроводники и диэлектрики», «Радиотехника», «Конструирование и технология производства радиоаппаратуры», «Автоматика и телемеханика», «Математические и счетнорешающие приборы и устройства»; декан – к.т.н., доцент И.И. Обросов.</li>


		</ul>
	<li> Открыты кафедры:</li>
		<ul>
			<li>- истории КПСС – 3 сотрудника, заведующий к.и.н., доцент Т.Е. Солодков;</li>
<li>- философии, политэкономии, основ научного коммунизма – 8 сотрудников, заведующий</li>
<li>член-корреспондент АН БССР, д.филос.н., доцент И.М. Ильюшин;</li>
<li>- начертательной геометрии и черчения – 6 сотрудников, заведующий к.т.н., доцент В.И. Козел;</li>
<li>- высшей математики – 6 сотрудников, заведующий ст. преподаватель А.М. Колобов;</li>
<li>- физики – 6 сотрудников, заведующий к.ф.-м.н., доцент А.С. Кузнецов;</li>
<li>- иностранных языков – 8 сотрудников, заведующий ст. преподаватель А.П. Шлопак;</li>
<li>- общей химии – 4 сотрудника, заведующий к.х.н., доцент Н.И. Жинович;</li>
<li>- физвоспитания и спорта – 6 сотрудников, заведующий доцент В.Н. Крупенио;</li>
<li>- технической механики – 5 сотрудников, заведующий к.т.н., доцент И.И. Обросов;</li>
<li>- теоретических основ электрорадиотехники – 8 сотрудников, заведующий к.т.н., доцент Б.Я. Романихин;</li>
<li>- радиоприемных устройств – 6 сотрудников, заведующий к.т.н., доцент Б.М. Богданович;</li>
<li>- радиопередающих устройств и радиотехнических систем – 5 сотрудников, заведующий</li>
<li>к.т.н., ст. преподаватель Б.Н. Красноголовый;</li>
<li>- конструирования и технологии производства радиоаппаратуры – 8 сотрудников, заведующий академик АН БССР, д.т.н., профессор Е.Г. Коновалов;</li>
<li>- антенных устройств и распространения радиоволн – 5 сотрудников, заведующий к. т. н., доцент И.С. Ковалев;</li>
<li>- электронных, ионных и полупроводниковых приборов – 4 сотрудника, заведующий к.ф-м.н.,профессор В.Я. Савельев;</li>
<li>- радиотехнических материалов – 4 сотрудника, заведующий к.т.н., доцент М.Г. Морозов;</li>
<li>- следящих систем, приборов и устройств автоматики – 7 сотрудников, заведующий к.т.н.,доцент И.Н. Бируля;</li>
<li>- систем автоматического управления – 6 сотрудников, заведующий к.т.н., доцент Б.В. Боровой;</li>
<li>- математических счетно-решающих приборов и устройств – 5 сотрудников, заведующий</li>
<li>доцент П.Е. Романько;</li>
<li>- военная, начальник полковник Н.М. Федулов.</li>

		</ul>

	<li>Приняты на работу 143 человека профессорско-преподавательского состава, в их числе 3 доктора наук, профессора, 1 член-корреспондент АН БССР; 37 кандидатов наук, доцентов; 42 старших преподавателя, 61 преподаватель и ассистент.</li>
	<li> Назначены проректорами:</li>
		<ul>
			<li>- по учебной и научной работе – к.т.н., доцент М.Г. Морозов (05.05.1964 – 29.08.1965),</li>
			<li>- по административно-хозяйственной работе – К.К. Воробьев (01.06.1964 – 25.03.1974).</li>
		</ul>
	<li>Проведены кадровые назначения:</li>
		<ul>
			<li>- деканом ФАВТ назначен декан ОТФ, к.т.н., доцент И.И. Обросов (17.12.1964 – 10.09.1965);</li>
			<li>- деканом ОТФ назначен ст. преподаватель кафедры следящих систем, приборов и</li>
			<li>устройств автоматики А.Я. Мазур (17.12.1964 – 20.101966).</li>
		</ul>
	<li> Занятия в институте начались 1 сентября 1964 года. На 1-й курс принято 537 студентов: РТФ – 175, ФАВТ – 100, ОТФ – 262.</li>



	<li> Открыта аспирантура, принято 4 аспиранта.</li>
	<li> Начали работу партийная, комсомольская и профсоюзная организации: секретарь партбюро – Л.П. Петров, председатель местного комитета (месткома) – Л.Л. Клюев, секретарь комитета комсомола – А.В. Чунь, председатель студенческого профкома – Н.К. Носонович.</li>
</ul>


